* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    background-image: url(imagens/imagem-de-fundo.webp);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    width: 95vw;
    height: 99vh;
    flex-direction: column;
    
}

header {
    display: flex;

    background-image: url(imagens/cabeçalho.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px; 

    width: 100%;
    /* Responsividade muito foda: (mínimo, responsividade, máximo) */
    height: clamp(45px, 4.5vw, 80px);

    align-items: center;
    justify-content: center;

}

header > a {
    font-family: Georgia, 'Times New Roman', serif;
    color: #60251c;
    font-size: 1.5rem;
    text-decoration: none;
}

main {
    display: flex;
    flex: 1;

    background-image: url(imagens/borda-main.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

}

aside {
    display: flex;
    width: 30%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

aside > img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

/* section não está pronta - falta muita coisa ainda */
section {
    display: flex;
    /* flex: 1; */
    height: 90%;
    width: 65%;
    background-color: yellow;


    justify-content: center;
    align-items: center;
}

/* @media (orientation: portrait){
    aside {
        width: 0%;
    }
} */