/* Container */

* {
    overflow: hidden;
}

#container {
    display: flex;
    width: 95vw;
    height: 95vh;
    flex-direction: column;

    background-image: url(imagens/fundo-main-vertical.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    padding: 1rem;

    align-items: center;
    justify-content: center;
}

/* Header */

header {
    background-color: blue;
    display: flex;
    height: 15%;
    width: 100%;

    justify-content: center;
    align-items: center;
    color: white;
}

/* Main */

main {
    background-color: white;
    display: flex;
    flex: 1;
    min-height: 0;

    /* padding: 2rem 3rem; */
    /* margin: 1rem 0; */

    justify-content: center;
    align-items: center; 
}

section {
    background-color: lightgreen;
    display: flex;
}
