/* Container */

#container {
    display: flex;
    width: 95vw;
    height: 95vh;
    flex-direction: column;

    background-image: url(imagens/fundo-main-vertical.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    padding: 1rem;

    align-items: center;
    justify-content: center;
}

/* Header */

header {
    background-color: blue;
    display: flex;
    height: 15%;
    width: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

header > h1 {
    font-size: 3rem;
}

/* Main */

main {
    background-color: white;
    display: flex;
    flex: 1;
    min-height: 0;
    width: 100%;

    /* padding: 2rem 3rem; */
    /* margin: 1rem 0; */

    justify-content: center;
    align-items: center; 

    overflow-y: auto;
    overflow-x: hidden;

    font-family: Georgia, 'Times New Roman', serif;
    text-align: justify;
    hyphens: auto;
    line-height: 1.7;

    scrollbar-color: #8a4a23 #ead3a2;
}    

/* Section */

section {
    background-color: lightgreen;
    display: flex;
    flex: 1;
}

